*.iml
*.ser
*/.vs
*/.idea/.name
*/.idea/artifacts/dist_auto_*
*/.idea/artifacts/PILL_*.xml
*/.idea/compiler.xml
*/.idea/gradle.xml
*/.idea/inspectionProfiles/profiles_settings.xml
*/.idea/libraries
*/.idea/libraries/Gradle*.xml
*/.idea/libraries/Maven*.xml
*/.idea/modules
*/.idea/modules.xml
*/.idea/runConfigurations/JPS_*.xml
*/.idea/runConfigurations/PILL_*.xml
*/.idea/shelf
.DS_Store
.gradle/
/tmp
obj
bin
caches
build/
